torch>=2.3.0,<2.4.0
datasets
evaluate
accelerate
transformers>=4.43.0,<4.44.0
sentencepiece
huggingface_hub
scikit-learn
tiktoken
gradio
peft
pandas
fire
black
black[jupyter]
isort
flake8
notebook
ipywidgets